.form-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.form-box {
    width: 350px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px gray;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}



.form-box button {
    width: 100%;
    padding: 10px;
    background-color: #ff4d6d;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.form-box button:hover {
    background-color: #e63b5c;
}
