.form-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.form-box {
    width: 350px;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px gray;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}



.form-box button {
    width: 100%;
    padding: 10px;
    background-color: #ff4d6d;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
}

.form-box button:hover {
    background-color: #e63b5c;
}

.home-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ee4baa;
    color: rgb(10, 10, 10);
    padding: 8px 20px;
    font-size: 14px;
    position: sticky;
}

.left-links a {
    color: #000000;
    margin-right: 15px;
    text-decoration: none;
    font-size: 13px;
}

.left-links a:hover {
    color: rgb(5, 4, 4);
}

.offer-text {
    font-weight: bold;
    color: #000000;
    animation: moveText 12s linear infinite;
    white-space: nowrap;
}

@keyframes moveText {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.right-icons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.right-icons input {
    padding: 4px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.right-icons span {
    cursor: pointer;
    font-size: 18px;
}

.right-icons span:hover {
    color: #ff7ad9;
}
